

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500&display=swap');

body {
	font-family: 'Roboto', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Times New Roman', Times, Arial, Helvetica, sans-serif;
	background-image: 
			linear-gradient(to bottom,
			rgba(5, 14, 7, 0.24),
			rgba(217, 255, 0, 0.247)), url("../Imagens/fundo.jpg");
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	
}

caption {
	padding: 10px;
	caption-side: left;
}





.button {
	display: inline-flex;
	padding: 1rem;
	border-radius: 8px;
	word-spacing: 10px;
	font-weight: 700;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	background-color: rgb(239, 76, 17);
	transition: .3s;
	cursor: pointer;
	margin: 0 auto;

}

.button:hover {
	box-shadow: 0 0 10px 0px black;
}

.title {
	color: #1A1110;
	margin-bottom: 5%;

}