

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}


body {
	font-family: 'Roboto', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Times New Roman', Times, Arial, Helvetica, sans-serif;
	background-image: 
			linear-gradient(to top,
			rgba(170, 170, 170, 0.349),
			rgba(0, 0, 0, 0.247)), url("../imagens/fundo.jpg");
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-fluid{
	display:block;
	align-content: space-between;
}

main {
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	
}

caption {
	padding: 10px;
	caption-side: left;
}


.button {
	display: inline-flex;
	padding: 1rem;
	border-radius: 8px;
	word-spacing: 10px;
	font-weight: 700;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	background-color: rgb(239, 76, 17);
	transition: .3s;
	cursor: pointer;
	margin: 0 auto;

}

.button:hover {
	box-shadow: 0 0 10px 0px black;
}

#title {
	color: #1A1110;
	margin-top: 2%;
	align-content: normal;
	justify-content: center;

}