@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Modal */
.modal {
	display: none;
	/* Esconder o modal por padrão */
	position: fixed;
	/* Fixar o modal na tela */
	z-index: 1;
	/* Colocar o modal na frente de outros elementos */
	left: 0;
	top: 0;
	width: 100%;
	/* Largura total da tela */
	height: 100%;
	/* Altura total da tela */
	overflow: auto;
	/* Adicionar rolagem quando necessário */
	background-color: rgb(255, 0, 0);
	/* Cor de fundo escura */
	background-color: rgba(0, 0, 0, 0.4);
	/* Transparência da cor de fundo */

}

fieldset {
	width: 600px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Conteúdo do modal */
.modal-content {
	form {
		background-color: #00c3ffa1;
		font-family: 'Roboto', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Times New Roman', Times, Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: large;
		color: rgb(0, 0, 0);
		padding: 10px;
		border: 1px solid #ddd;
		width: 500px;
		height: auto;
	}

	label {
		display: block;
		margin: 10px;
		padding: 10px 5px;
		position: relative;
		text-align: end;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	input {
		grid-column-start: 2;
		grid-column-end: 3;

		&[type="text"],
		&[type="number"] {
			border: 1px solid #ddd;
			max-width: 100px;
			border-radius: 5px;
			font-family: sans-serif;
			font-size: 15px;
			padding: 10px 10px;
			margin: 10px;
			background-color: #f5f5f5;
			border: 1px solid #ccc;
		}
		&[type="text"],
		&[type="number"]:hover{
			box-shadow: 0 0 10px 0px black;
		}

		&[type="submit"] {
			width: auto;
			padding: 10px 20px;
			margin-top: 10px;
			background-color: #4e9f6a;
			color: white;
			border: none;
			cursor: pointer;
		}

		&[type="submit"]:hover {
			background-color: #3e8e5a;
		}

		&[type="reset"] {
			width: auto;
			padding: 10px 20px;
			margin-top: 10px;
			background-color: #9f4e4e;
			color: white;
			border: none;
			cursor: pointer;

			&[type="reset"]:hover {
				background-color: #8e3e3e;
			}
		}
	}
}

/* Botão "fechar" */
.close {
	width: auto;
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #4e9f98;
	color: white;
	border: none;
	cursor: pointer;
}

.close:hover,
.close:focus {
	background-color: #3a7772;
}
